@use "../../styles/globals/colors" as *;

.food_container {
  position: relative;
  top: var(--top, 4.2rem);
  max-width: 100%;
  width: calc(100% - 5%);
  margin: 2rem auto;
  padding: 2rem;
  background-color: #ffeddff1;
  border-top-left-radius: min(4.063rem, 48rem, 4.063rem);
  border-top-right-radius: min(4.063rem, 48rem, 4.063rem);
  backdrop-filter: blur(23px);

  .svg_item {
    margin: 1% auto;
    position: relative;
    top: 0;
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 48rem) {
  .svg_item {
    svg {
      width: 8.786rem;
      margin: 2% auto;
      margin-bottom: 1rem;
    }
  }
  .foodlist_container {
    gap: 2rem;
  }
}

@media (min-width: 120rem) {
  .foodlist_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .food_container {
    --top: 6rem;
  }
}
