$background-color: #343238;

$food-color: hsl(240, 1%, 14%);
$food-color-price: hsl(240, 1%, 25%);
$food-color-des: hsl(240, 1%, 40%);

$primary-btn: hsla(252, 17%, 31%, 1);
$primary-btn-light: hsla(252, 17%, 38%, 1);

$backdrop: hsla(251, 19%, 23%, 0.644);
$model-backdrop: hsla(252, 7%, 14%, 0.502);

$green-btn : hsl(120, 62%, 28%);
$green-btn-light : hsl(120, 62%, 48%);

$red-btn: hsl(0, 55%, 32%);
$red-btn-light: hsl(0, 55%, 52%);

$blue-black: hsla(250, 13%, 40%, 0.845);

$primary-card: hsl(26, 100%, 94%);

$secondary-card: hsl(0, 0%, 85%);