$background-color: #343238;
$food-color: hsl(240, 1%, 14%);
$food-color-price: hsl(240, 1%, 25%);
$food-color-des: hsl(240, 1%, 40%);
$primary-btn: hsla(252, 17%, 31%, 1);
$primary-btn-light: hsla(252, 17%, 38%, 1);
