@use "../../../styles/globals/colors" as *;
.backdrop {
  position: fixed;
  top: var(--t, 0rem);
  right: 0rem;
  max-width: var(--m-w, 100%);
  width: var(--w, 100%);
  height: 100rem;
  background-color: $model-backdrop;
  backdrop-filter: blur(2px);

  display: flex;
  justify-content: flex-end;
  align-items: center;
  z-index: 10001;
}

.content {
  position: fixed;
  top: var(--t, 0rem);
  height: 20rem;
  top: var(--t, 50%);
  right: var(--r, 0rem);
  transform: translate(var(--x, -50%), var(--y, -50%));
  left: 50%;
  max-width: var(--m-w, 100%);
  width: var(--w, 41.188rem);
  background-color: hsl(203, 68%, 96%);
  backdrop-filter: blur(2px);
  border-radius: 2rem;
  
  display: flex;
  flex-direction: column;
  justify-content: left;
  z-index: 10002;
  // overflow-y: scroll;

  .cross {
    display: flex;
    justify-content: flex-end;
    padding: 2rem;
    // border: 3px solid;
    
    .svg {
      width: 1.2rem;
      cursor: pointer;
    }
  }
}

#orderContent {
  position: relative;
  padding: 1rem;
  left: 50%;
  transform: translate(-50%);
  text-align: center;
}

@media (max-width: 48rem) {
  .content {
    width: 23rem;
  }
}

@media (min-width: 120rem) {
  .content {
    background-color: rgb(255, 255, 255);
  }
}
