@use "../../../styles/globals/colors" as *;

.red-btn {
  position: relative;
  margin: 2% auto;
  width: 3.688rem;
  height: 3.563rem;
  border: none;
  border-radius: 50%;
  font-size: 1.188rem;
  font-weight: 600;
  color: white;
  background-color: $red-btn;
  cursor: pointer;
  transition: .3s ease-in all;
}

.red-btn:hover {
  background-color: $red-btn-light;
}